.main-div {
    max-width: 960px;
}

.tile {
    width: 20%;
    height: 20%;
    float: left;
}
.empty{
    background-color: aliceblue;
}

.food {
    background: red;
}

.snake {
    background: green;
}

.playground {
    width: 90%;
    height: 500px;
}
